{% layout "layout.liquid" %} {% block content %}
      <div class="cocktailShow-container">
        <article>
          <h2>
            {{ strDrink}}
          </h2>
          <h3>
        <img src="{{strDrinkThumb}}" class="cocktailShow-image"alt=""> <br>
        Ingredients: <br>
        {% for ingredients in cocktail.ingredients%}
            -{{ingredients}}-
            {%endfor%} 
            <br> <br>
          Measurements: <br>
          {% for measurements in cocktail.measurements%}
            -{{measurements}}-
            {%endfor%}
        <br> <br>
          Preparation: <br>
          {{cocktail.preparation}} <br> <br>
        
        </h3>
        <a href="/cocktails/{{idDrink}}/edit"><button>Edit {{strDrink}}</button></a>
          <form action="/cocktails/{{ idDrink }}?_method=DELETE" method="POST">
            <input type="submit" value="Remove from My Cocktails List" />
          </form>
          <a href="/cocktails/"><button>Back to My Cocktails</button></a>
          
        </article>
      </div>
{% endblock %}